.banner {
  margin: 3rem auto;
  display: flex;
  max-width: @app-width-max;

  .cta-container {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .cta-tagline {
      font-size: 1.5rem;
      color: @palette-font-secondary;
      margin: 2rem 0;
    }
  }

  img {
    position: relative;
    right: -8rem;
  }
}
