@margin-spacing: 2rem;
@app-width-max: 70rem;
@app-width-large: 60rem;

@palette-primary: #493657;
@palette-secondary: #00b4d8;
@palette-font-primary: #222222;
@palette-font-secondary: #4b5043;

@screen-width-large: 1200px;
