body {
  font-family: 'Roboto', sans-serif;
  color: #4b5043;
  font-size: 1.2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  font-weight: 600;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.5rem;
}
button {
  border-radius: 2rem;
  text-align: center;
  padding: 0.4rem 1rem;
  width: 8rem;
}
input {
  border-radius: 0.7rem;
}
.cta-button {
  background-color: #00b4d8;
  color: #ffffff;
  font-size: 1.5rem;
  width: 12rem;
}
.cta-button:hover {
  background-color: #0cd6ff;
}
.nav-bar {
  margin: 1rem auto;
  max-width: 70rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #4b5043;
}
.nav-bar .navigation .links {
  display: flex;
  justify-content: space-around;
  width: 30rem;
}
.nav-bar .navigation .links a {
  color: #4b5043;
}
.nav-bar .navigation .links a:hover {
  color: #000000;
}
.nav-bar .navigation .login-signup {
  width: 18rem;
  display: flex;
  justify-content: space-between;
}
.nav-bar .navigation .login-signup .login-btn {
  background-color: #ffffff;
  color: #222222;
}
.nav-bar .navigation .login-signup .login-btn:hover {
  background-color: #e6e6e6;
  color: #080808;
}
.nav-bar .navigation .login-signup .sign-up-btn {
  background-color: #00b4d8;
  color: #ffffff;
}
.nav-bar .navigation .login-signup .sign-up-btn:hover {
  background-color: #0cd6ff;
}
.banner {
  margin: 3rem auto;
  display: flex;
  max-width: 70rem;
}
.banner .cta-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .cta-container .cta-tagline {
  font-size: 1.5rem;
  color: #4b5043;
  margin: 2rem 0;
}
.banner img {
  position: relative;
  right: -8rem;
}
.url-form {
  background-color: #493657;
  background-image: url('./images/bg-shorten-desktop.svg');
  background-size: cover;
  max-width: 70rem;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 1;
}
.url-form #shortly-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 1rem;
}
.url-form #shortly-form #url {
  width: 78%;
  padding: 1.5rem;
  background-color: #FFFFFF;
  color: #4b5043;
}
.url-form #shortly-form #submit {
  width: 20%;
  background-color: #00b4d8;
  padding: 1.5rem;
  text-align: center;
  color: #FFFFFF;
}
.url-form #shortly-form #submit:hover {
  background-color: #0cd6ff;
}
.links-container {
  position: relative;
  z-index: 1;
  max-width: 70rem;
  margin: 0 auto;
}
.links-container .link-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  background-color: #ffffff;
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 0.2rem;
}
.links-container .link-card .full-url {
  color: #222222;
}
.links-container .link-card .shortly-url-container {
  display: flex;
  align-items: center;
}
.links-container .link-card .shortly-url-container .shortly-url {
  color: #00b4d8;
  margin-right: 1rem;
}
.links-container .link-card .shortly-url-container .copy-btn {
  color: #ffffff;
  background-color: #00b4d8;
}
.links-container .link-card .shortly-url-container .copy-btn:hover {
  background-color: #0cd6ff;
}
.links-container .link-card .shortly-url-container .copied-btn {
  background-color: #493657;
}
.links-container .link-card .shortly-url-container .copied-btn:hover {
  background-color: #493657;
}
.staircase-container {
  background-color: #d4d4d4;
  width: 100%;
  padding: 81px 0;
  position: relative;
  top: -81px;
}
.staircase-container .staircase-header {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 5rem 0;
  margin-bottom: 5rem;
}
.staircase-container .staircase-header .staircase-header-title {
  margin-bottom: 1rem;
}
.staircase-container .staircase-header .staircase-header-text {
  max-width: 30rem;
  display: flex;
}
.staircase-container .staircase {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.staircase-container .staircase .staircase-card {
  width: 32%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  position: relative;
}
.staircase-container .staircase .staircase-card:nth-child(1) {
  top: -2rem;
}
.staircase-container .staircase .staircase-card:nth-child(3) {
  top: 2rem;
}
.staircase-container .staircase .staircase-card .staircase-icon {
  position: relative;
  top: -50px;
  border-radius: 3rem;
  background-color: #493657;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
}
.staircase-container .staircase .staircase-card .staircase-card-title {
  position: relative;
  top: -20px;
}
.staircase-container .staircase .staircase-card .staircase-card-text {
  position: relative;
  top: -10px;
}
.bottom-cta {
  width: 100%;
  background-color: #493657;
  background-image: url('./images/bg-boost-desktop.svg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.bottom-cta .bottom-cta-title {
  color: #ffffff;
  margin-bottom: 1rem;
}
.footer {
  width: 100%;
  background-color: #222222;
}
.footer .footer-width {
  max-width: 70rem;
  margin: 0 auto;
  padding: 3rem 0 5rem;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
.footer .footer-width img {
  filter: brightness(10) contrast(10) grayscale(1);
}
.footer .footer-width .footer-links {
  display: flex;
  width: 70%;
}
.footer .footer-width .footer-links .footer-links-list {
  margin-right: 12.5%;
}
.footer .footer-width .footer-links .footer-links-list:last-child {
  margin-right: 0;
}
.footer .footer-width .footer-links .footer-links-list .footer-link {
  font: menu;
  margin-bottom: 1rem;
}
.footer .footer-width .footer-links .footer-links-list .footer-link.title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: inherit;
}
.footer .footer-width .footer-links .footer-socials {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.app {
  overflow: hidden;
}
