body {
  font-family: 'Roboto', sans-serif;
  color: #4b5043;
  font-size: 1.2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  font-weight: 600;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.5rem;
}
button {
  border-radius: 2rem;
  text-align: center;
  padding: 0.4rem 1rem;
  width: 8rem;
}
input {
  border-radius: 0.7rem;
}
.cta-button {
  background-color: #00b4d8;
  color: #ffffff;
  font-size: 1.5rem;
  width: 12rem;
}
.cta-button:hover {
  background-color: #0cd6ff;
}
.nav-bar {
  margin: 1rem 2rem;
  width: 70rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #4b5043;
}
.nav-bar .navigation .links {
  display: flex;
  justify-content: space-around;
  width: 30rem;
}
.nav-bar .navigation .links a {
  color: #4b5043;
}
.nav-bar .navigation .links a:hover {
  color: #000000;
}
.nav-bar .navigation .login-signup {
  width: 18rem;
  display: flex;
  justify-content: space-between;
}
.nav-bar .navigation .login-signup .login-btn {
  background-color: #ffffff;
  color: #222222;
}
.nav-bar .navigation .login-signup .login-btn:hover {
  background-color: #e6e6e6;
  color: #080808;
}
.nav-bar .navigation .login-signup .sign-up-btn {
  background-color: #00b4d8;
  color: #ffffff;
}
.nav-bar .navigation .login-signup .sign-up-btn:hover {
  background-color: #0cd6ff;
}
@media (max-width: 1200px) {
  .nav-bar {
    max-width: 60rem;
  }
}
@media (max-width: 1000px) {
  .nav-bar {
    width: 90%;
  }
  .nav-bar .navigation-container {
    width: 85%;
  }
}
@media (max-width: 700px) {
  .nav-bar {
    width: 95%;
    font-size: 1rem;
  }
  .nav-bar .navigation-container {
    width: 80%;
  }
  .nav-bar .navigation-container .links {
    width: 60%;
  }
  .nav-bar .navigation-container .login-signup {
    width: 40%;
  }
  .nav-bar .navigation-container .login-signup button {
    width: auto;
  }
}
@media (max-width: 550px) {
  .nav-bar {
    display: flex;
  }
  .nav-bar .menu-button {
    position: relative;
    justify-self: flex-end;
    width: 3rem;
    height: 0.3rem;
    background-color: #222222;
    border-radius: 0.3rem;
    z-index: 3;
  }
  .nav-bar .menu-button::before,
  .nav-bar .menu-button::after {
    content: '';
    position: absolute;
    width: 3rem;
    height: 0.3rem;
    background-color: #222222;
    border-radius: 0.3rem;
  }
  .nav-bar .menu-button::before {
    top: -10px;
  }
  .nav-bar .menu-button::after {
    top: 10px;
  }
  .nav-bar .navigation-container {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    transition: visiblity 0s, opacity 0.5s;
  }
  .nav-bar .navigation-container.open {
    visibility: visible;
    opacity: 1;
  }
  .nav-bar .navigation {
    opacity: 0;
    justify-self: center;
    align-self: center;
    position: absolute;
    flex-direction: column;
    background-color: #493657;
    width: 80%;
    padding: 10%;
    border-radius: 0.5rem;
    right: 10%;
    top: 5rem;
    z-index: 1;
    font-size: 1.3rem;
    transition: opacity 0.5s, visibility 0.5s;
    transition-timing-function: ease-out;
  }
  .nav-bar .navigation.open {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, visibility 0.5s;
  }
  .nav-bar .navigation .links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-bar .navigation .links a {
    color: #ffffff;
    margin-bottom: 2rem;
  }
  .nav-bar .navigation .login-signup {
    flex-direction: column;
    width: 100%;
  }
  .nav-bar .navigation .login-signup::before {
    content: '';
    width: 100%;
    background-color: #888888;
    height: 0.1rem;
    position: relative;
  }
  .nav-bar .navigation .login-signup .login-btn {
    color: #ffffff;
    background-color: initial;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .nav-bar .navigation .login-signup .sign-up-btn {
    padding: 0.8rem;
    width: 100%;
  }
}
.banner {
  margin: 3rem 2rem;
  display: flex;
  max-width: 70rem;
}
.banner .cta-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .cta-container .cta-tagline {
  font-size: 1.5rem;
  color: #4b5043;
  margin: 2rem 0;
}
.banner img {
  position: relative;
  right: -8rem;
  align-self: center;
}
@media (max-width: 1200px) {
  .banner {
    width: 60rem;
  }
  .banner img {
    width: 50%;
    right: -2px;
  }
}
@media (max-width: 1000px) {
  .banner {
    width: 90%;
  }
  .banner .cta-header {
    font-size: 3rem;
  }
  .banner .cta-tagline {
    font-size: 1.3rem;
  }
}
@media (max-width: 700px) {
  .banner {
    width: 95%;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin: 2rem;
  }
  .banner .cta-container {
    align-items: center;
    width: 100%;
  }
  .banner img {
    width: 100%;
    right: -50px;
    top: -20px;
  }
}
.url-form {
  background-color: #493657;
  background-image: url('./images/bg-shorten-desktop.svg');
  background-size: cover;
  width: 70rem;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 1;
}
.url-form #shortly-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 1rem;
}
.url-form #shortly-form #url {
  width: 78%;
  padding: 1.5rem;
  background-color: #ffffff;
  color: #4b5043;
}
.url-form #shortly-form #submit {
  width: 20%;
  background-color: #00b4d8;
  padding: 1.5rem;
  text-align: center;
  color: #ffffff;
}
.url-form #shortly-form #submit:hover {
  background-color: #0cd6ff;
}
@media (max-width: 1200px) {
  .url-form {
    width: 60rem;
  }
}
@media (max-width: 1000px) {
  .url-form {
    width: 90%;
    padding: 3%;
  }
  .url-form #shortly-form {
    border-radius: 0.5rem;
  }
  .url-form #shortly-form #url,
  .url-form #shortly-form #submit {
    padding: 2%;
  }
}
@media (max-width: 700px) {
  .url-form {
    width: 95%;
  }
}
@media (max-width: 550px) {
  .url-form {
    background-image: url('./images/bg-shorten-mobile.svg');
    padding: 6%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 100% 0%;
  }
  .url-form #shortly-form {
    flex-direction: column;
  }
  .url-form #shortly-form #url {
    margin-bottom: 1.3rem;
  }
  .url-form #shortly-form #url,
  .url-form #shortly-form #submit {
    width: 100%;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    padding: 5%;
  }
}
.links-container {
  position: relative;
  z-index: 1;
  width: 70rem;
  margin: 0 auto;
}
.links-container .link-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  background-color: #ffffff;
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 0.2rem;
}
.links-container .link-card .full-url {
  color: #222222;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 1%;
}
.links-container .link-card .shortly-url-container {
  display: flex;
  align-items: center;
}
.links-container .link-card .shortly-url-container .shortly-url {
  color: #00b4d8;
  margin-right: 1rem;
}
.links-container .link-card .shortly-url-container .copy-btn {
  color: #ffffff;
  background-color: #00b4d8;
}
.links-container .link-card .shortly-url-container .copy-btn:hover {
  background-color: #0cd6ff;
}
.links-container .link-card .shortly-url-container .copied-btn {
  background-color: #493657;
}
.links-container .link-card .shortly-url-container .copied-btn:hover {
  background-color: #493657;
}
@media (max-width: 1200px) {
  .links-container {
    width: 60rem;
  }
}
@media (max-width: 1000px) {
  .links-container {
    width: 90%;
  }
  .links-container .link-card {
    font-size: 1.2rem;
    padding: 2%;
  }
}
@media (max-width: 700px) {
  .links-container {
    width: 95%;
  }
}
@media (max-width: 550px) {
  .links-container .link-card {
    flex-direction: column;
    align-items: flex-start;
    padding: 4%;
    border-radius: 0.4rem;
  }
  .links-container .link-card .shortly-url-container {
    width: 100%;
    padding-top: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .links-container .link-card .shortly-url-container .shortly-url {
    margin: 1rem 0;
  }
  .links-container .link-card .shortly-url-container .copy-btn {
    width: 100%;
    border-radius: 0.2rem;
    padding: 0.8rem;
  }
  .links-container .link-card .shortly-url-container::before {
    content: '';
    width: 108%;
    background-color: #DDDDDD;
    height: 2px;
    align-self: center;
  }
}
.staircase-container {
  background-color: #d4d4d4;
  width: 100%;
  padding: 81px 0;
  position: relative;
  top: -81px;
  margin-bottom: -81px;
}
.staircase-container .staircase-header {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 5rem 0;
  margin-bottom: 5rem;
}
.staircase-container .staircase-header .staircase-header-title {
  margin-bottom: 1rem;
}
.staircase-container .staircase-header .staircase-header-text {
  max-width: 30rem;
  display: flex;
}
@media (max-width: 700px) {
  .staircase-container .staircase-header {
    width: 95%;
    margin-bottom: 0;
  }
}
.staircase-container .staircase {
  width: 70rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.staircase-container .staircase .staircase-card {
  width: 32%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  position: relative;
}
.staircase-container .staircase .staircase-card:nth-child(1) {
  top: -2rem;
}
.staircase-container .staircase .staircase-card:nth-child(3) {
  top: 2rem;
}
.staircase-container .staircase .staircase-card .staircase-icon {
  position: relative;
  top: -50px;
  border-radius: 3rem;
  background-color: #493657;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
}
.staircase-container .staircase .staircase-card .staircase-card-title {
  position: relative;
  top: -20px;
}
.staircase-container .staircase .staircase-card .staircase-card-text {
  position: relative;
  top: -10px;
}
@media (max-width: 1200px) {
  .staircase-container .staircase {
    width: 60rem;
  }
}
@media (max-width: 1000px) {
  .staircase-container .staircase {
    width: 90%;
    font-size: 1rem;
  }
}
@media (max-width: 700px) {
  .staircase-container .staircase {
    width: 95%;
    flex-direction: column;
  }
  .staircase-container .staircase .staircase-card {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .staircase-container .staircase .staircase-card .staircase-icon {
    align-self: center;
  }
  .staircase-container .staircase .staircase-card:nth-child(1),
  .staircase-container .staircase .staircase-card:nth-child(3) {
    top: 0;
  }
  .staircase-container .staircase .staircase-card:nth-child(3) {
    margin-bottom: 0;
  }
}
.bottom-cta {
  width: 100%;
  background-color: #493657;
  background-image: url('./images/bg-boost-desktop.svg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
}
.bottom-cta .bottom-cta-title {
  color: #ffffff;
  margin-bottom: 1rem;
}
.footer {
  width: 100%;
  background-color: #222222;
}
.footer .footer-width {
  max-width: 70rem;
  margin: 0 auto;
  padding: 3rem 0 5rem;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .footer .footer-width {
    width: 60rem;
  }
}
.footer .footer-width img {
  filter: brightness(10) contrast(10) grayscale(1);
}
.footer .footer-width .footer-links {
  display: flex;
  width: 70%;
}
.footer .footer-width .footer-links .footer-links-list {
  margin-right: 12.5%;
}
.footer .footer-width .footer-links .footer-links-list:last-child {
  margin-right: 0;
}
.footer .footer-width .footer-links .footer-links-list .footer-link {
  font: menu;
  margin-bottom: 1rem;
}
.footer .footer-width .footer-links .footer-links-list .footer-link:hover {
  cursor: pointer;
  color: #00b4d8;
}
.footer .footer-width .footer-links .footer-links-list .footer-link.title {
  cursor: initial;
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: inherit;
}
.footer .footer-width .footer-links .footer-socials {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}
@media (max-width: 1000px) {
  .footer .footer-width {
    width: 90%;
  }
  .footer .footer-width .footer-links {
    width: 80%;
  }
  .footer .footer-width .footer-links .footer-links-list {
    margin-right: 8%;
  }
}
@media (max-width: 700px) {
  .footer .footer-width {
    width: 95%;
    flex-direction: column;
  }
  .footer .footer-width .logo-container {
    margin-bottom: 1rem;
  }
  .footer .footer-width .footer-links {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .footer .footer-width {
    text-align: center;
    align-items: center;
  }
  .footer .footer-width .logo-container {
    margin-bottom: 2rem;
  }
  .footer .footer-width .footer-links {
    flex-direction: column;
    justify-content: center;
  }
  .footer .footer-width .footer-links .footer-links-list {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
  .footer .footer-width .footer-links .footer-links-list .footer-link.title {
    font-size: 1.2rem;
  }
  .footer .footer-width .footer-links .footer-socials {
    width: 60%;
    margin: 0 auto;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.app {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
